<header style="background-color: rgb(31, 31, 31);">
    <nav class="navbar navbar-dark bg-dark fixed-top" style="padding: 20px 5rem;">
      <a class="navbar-brand" [routerLink]="['search/vuelos']">
        <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="logotipo">
        Six Degrees
      </a>
      <div style="display: flex;">
        <a class="nav-link" href="https://linkedin.com/in/iván-francisco-gómez-alarcón-373a93172" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a class="nav-link" href="https://github.com/ivangomezi/SixDegrees" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </nav>
  </header>